@{ ViewBag.Title = "Antrenöre Mesaj Gönder"; }

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Antrenöre Mesaj Gönder</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            font-family: fantasy;
            /* Arka plan resmi yolu */
            background: url('../img/xxx.jpg') center/cover no-repeat;
        }

        h2 {
            color: white;
            text-align: center;
            margin-top: 50px;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #4158d0;
            color: black;
        }

        td {
            color: white;
        }

        p {
            margin-top: 10px;
            font-weight: bold;
            color: #262626;
        }

            p.no-messages {
                color: #999999;
            }

        /* Form ve textarea için güncellenmiş stiller */
        form {
            text-align: center;
            margin-top: 20px;
        }

        textarea {
            width: 100%;
            height: 300px; /* İhtiyaca göre yüksekliği ayarlayın */
            margin: 0 auto; /* Textarea'yı ortalamak için */
            display: block;
            resize: none; /* Textarea'nın boyutunu değiştirmeyi devre dışı bırak */
        }
            textarea.form-control {
                height: 300px;
            }
        .btn-primary {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h2>Antrenöre Mesaj Gönder</h2>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }

    @using (Html.BeginForm("SendMessageToCoachAction", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <textarea class="form-control" name="content" required></textarea>
        </div>

        <input type="hidden" name="receiverID" value="@ViewBag.CoachID" />

        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Mesaj Gönder</button>
        </div>
    }
</body>
</html>
